
@{
    ViewData["Title"] = "AcademyPortal";
}

<img class="portal-logo" src="\Images\Logo.jpg" >
<h1 class="portal">Academy Portal</h1>

<style>
    body {
        background-image: url("/images/pic3.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    .portal-logo {
        position: absolute;
        margin-left: 10px;
        border-style: solid;
        width: 11%;
        height: 23%;
        padding: 15px;
        font-size: 100px;
        border-width: 1.5px;
    }

    .portal {
        font-size: 100px;
        font-weight: 900;
        border-style: solid;
        text-align: center;
        margin-left: 10px;
        margin-right: -70px;
        text-shadow: 8px 8px #dc3545;
        padding: 10px;
        width: 1100px;
        border-width: 1px;
        line-height: 130%;
    }

    ul {
        list-style-type: none;
        width: 300px;
    }

    li a:hover {
        background-color: darkmagenta;
        color: white;
    }

    li a {
        display: block;
        color: #dc3545;
        padding: 20px 30px;
        text-decoration: none;
    }

    #head {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: white;
        padding: 10px 10px;
    }

    li {
        float: left;
    }
</style>

<div>
    <a style="margin-right:50px;color:red"asp-action="Academyportal">Home</a>
    <a style="margin-left:30px;color:red " asp-action="Login">Logout</a>

</div>
<div>
    <ul>
        <li><a href="FacultyRegistration">Faculty Registration</a></li>
        <li><a href="Module">Module Registration</a></li>
        <li><a href="BatchAllocations">Batch Allocation</a></li>
        <li><a href="Report">Report Management</a></li>
        <li><a href="AwardandCreditpoint">Award and Credit point</a></li>



    </ul>
</div>
