@model Admin.Models.Report

@{
    ViewData["Title"] = "create5";
}
<style>
    body {
        background-image: url("/images/pic3.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1>create5</h1>
<div>
    <a style="margin-right:50px;color:red" asp-action="Academyportal">Home</a>
    <a style="margin-left:30px;color:red " asp-action="Login">Logout</a>

</div>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Batch_code" class="control-label"></label>
                <input asp-for="Batch_code" class="form-control" />
                <span asp-validation-for="Batch_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Report">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
