@model Admin.Models.Faculty

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-image: url("/images/pic3.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
<div>
    <a style="margin-right:50px;color:red" asp-action="Academyportal">Home</a>
    <a style="margin-left:30px;color:red " asp-action="Login">Logout</a>

</div>



<h4>Faculty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Faculty_Name" class="control-label"></label>
                <input asp-for="Faculty_Name" class="form-control" />
                <span asp-validation-for="Faculty_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Highest_Qualification" class="control-label"></label>
                <input asp-for="Highest_Qualification" class="form-control" />
                <span asp-validation-for="Highest_Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearofExperiance" class="control-label"></label>
                <input asp-for="YearofExperiance" class="form-control" />
                <span asp-validation-for="YearofExperiance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyEmail" class="control-label"></label>
                <input asp-for="FacultyEmail" class="form-control" />
                <span asp-validation-for="FacultyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street_Address" class="control-label"></label>
                <input asp-for="Street_Address" class="form-control" />
                <span asp-validation-for="Street_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index3">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
