@model Admin.Models.Award

@{
    ViewData["Title"] = "Delete6";
}
<style>
    body {
        background-image: url("/images/pic3.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h1>Delete6</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Award</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete6">
        <input type="hidden" asp-for="Faculty_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Award">Back to List</a>
    </form>
</div>
